<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://checkout.epayco.co/epayco.min.js"></script>

    <title>ePayco Suscripciones API</title>
</head>

<body>
    <form id="customer-form" action="../controllers/suscripciones.php" method="POST">
        <input type="hidden" name="epaycoToken" id="epaycoToken" value="">
        <label for="email">Correo electronico</label><br>
        <input type="email" name="email" data-epayco="card[email]" value="test@payco.co" required><br>
        <label for="name">Nombre</label><br>
        <input type="text" name="name" data-epayco="card[name]" value="Joe" required><br>
        <label for="last_name">Apellido</label><br>
        <input type="text" name="last_name" value="Doe" required><br>
        <label for="docType">Tipo de documento</label><br>
        <select id="docType" name="docType" required>
          <option value=""></option>
          <option value="CC">CC</option>
          <option value="NIT">NIT</option>
          <option value="CE">CE</option>
          <option value="PPN">PPN</option>
          <option value="SSN">SSN</option>
          <option value="LIC">LIC</option>
          <option value="DNI">DNI</option>
        </select><br>
        <label for="number">Numero de documento</label><br>
        <input type="text" name="number" id="number" value="12345678"><br>
        <label for="address">Dirección</label><br>
        <input type="text" name="address" id="address" value="Carrera 48 # 20-114 - Torre 3 - Oficina 655 Centro Empresarial Ciudad del Río"><br>
        <label for="city">Cuidad</label><br>
        <input type="text" name="city" id="city" value="Medellín"><br>
        <label for="phone">Telefono</label><br>
        <input type="text" name="phone" id="phone" value="4484952"><br>
        <label for="cell_phone">Celular</label><br>
        <input type="text" name="cell_phone" id="cell_phone" value="3004484952"><br>
        <hr>
        <label for="id_plan">Elija una suscripción</label><br>
        <select id="id_plan" name="id_plan" required>
          <option value=""></option>
          <option value="suscriptionDay">Suscripción Diara</option>
          <option value="suscriptionWeek">Suscripción Semanal</option>
          <option value="suscriptionMonth">Suscripción Mensual</option>
        </select><br>
        <hr>
        <label for="cardNumber">Numero de tarjeta</label><br>
        <input type="text" data-epayco="card[number]" value="4575623182290326" required><br>
        <label for=" month">Mes (MM)</label><br>
        <input type="text" data-epayco="card[exp_month]" value="12" required><br>
        <label for="year">Año (AAAA)</label><br>
        <input type="text" data-epayco="card[exp_year]" value="2025" required><br>
        <label for="cvv">CVV</label><br>
        <input type="text" data-epayco="card[cvc]" value="123" size="4" required><br><br>
        <button type="submit">Pagar</button>
    </form>
    <script src="../js/tokenization.js"></script>
</body>

</html>